#mcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}
#mcover img {
    position: fixed;
    right: 18px;
    top: 5px;
    width: 260px!important;
    height: 180px!important;
    z-index: 20001;
}
.text {
    margin: 30px 0;
    margin-left: 30%;
    font-size: 14px;
    word-wrap: break-word;
} 

#mess_share {
    margin: 15px 0;
    display: block;
}

#share_2 {
    width: 50%;
    display: block; 
}
.clr {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

button {
    margin-left: 18px;
    background-color: white;
}

.button2 {
    font-size: 16px;
    padding: 8px 0;
    border: 5px dashed #adcdeb;
    text-shadow: 0.5px 0.5px 1px #fff;
    text-align: center;
    border-radius: 30px;
    width: 100%;
}
#mess_share img {
    width: 22px !important;
    height: 22px !important;
    color: white;
    vertical-align: top;
    border: 0;
}
